<p id="notice"><%= notice %></p>

<h1>Train Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @train_statuses.each do |train_status| %>
      <tr>
        <td><%= train_status.message %></td>
        <td><%= link_to 'Show', train_status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Train Status', new_train_status_path %>
